<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3>About Jackie</h3>
      <hr>
      <p>Jackie is a fully certified Level 4 Essentrics Instructor who has been teaching Essentrics since 2015.  She found Essentrics searching for gentle workouts after the birth of her 3rd child.  She immediately fell in love with the program.  After attending a retreat in 2015, Jackie began teaching Essentrics.</p>
      <p>Jackie has taught fitness classes for 25+ years in a variety of settings, having held the position of Fitness Director, Group FItness Instructor, and Apprentice (1 year, thanks Ann Campbell). Jackie is Minnesota's first certified Essentrics instructor, and is the only fully certified Level 4 instructor in the state.
      </p>
      <p>Jackie has a life long passion for all things fitness. She was a high school gymnast and college cheerteam member.  Other group and private classses she has taught include low impact aerobics, step aerobics, circuit and tabata style fitness classes.  
      </p>
      <p>Jackie is a former elementary teacher with a Master's degree in Education, and resides in North Branch with her husband and four children.  
      </p>
      <img class="img-fluid"src="https://cdn.simplesite.com/i/63/19/285697106127559011/i285697114396171176._szw480h1280_.jpg" alt="">
      <h4>Certifications</h4>
      <ul>
        <li>February 2017 ESSENTRICS Strengthening Exercises-Level 4 Certified Instructor</li>
        <li>November 2016 ESSENTRICS Flexibility and Therapeutic Exercises-Level 3 Certified Instructor</li>
        <li>May 2016 ESSENTRICS Trademark Exercises-Level 2 Certified Instructor</li>
        <li>January 2016 Principles of the ESSENTRICS Program-Level 1 Certified Instructor</li>
      </ul>
      <h4>Live Training and Retreats Attended</h4>
      <ul>
        <li>May 2017 ESSENTRICS Trademark Exercises Estes Park, CO</li>
        <li>May 2015 ESSENTRICS Retreat</li>
      </ul>
      <h4>Leadership/Teaching Events</h4>
      <ul>
        <li>October 2017 Midwest Getaway Tulsa, OK </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>About Essentrics</h3>
      <hr>
      <p>ESSENTRICS is a full body workout that rapidly changes the shape of your body through a dynamic combination of strengthening and stretching.</p>
      <p>ESSENTRICS is based on the concept of eccentric training which stretches the muscles then strengthens them in the elongated position. The result:  strong and flexible muscles with immediate changes to your posture.   </p>
      <p>This is a program that enables your body to move fluidly and effortlessly in your daily life and all your activities; ESSENTRICS offers a fundamental level of true fitness.</p>
      <p>With a diverse music playlist accompanying each routine, this equipment free workout leaves you feeling energized, positive and healthy.</p>
      <h4>What are the benefits?</h4>
      <p>Essentrics training will increase strength and flexibility, improve posture, rebalance and tone the entire body, provide pain relief, improve body alignment, speed recovery from injuries and improve sport and athletic performance.</p>
      <h4>What can someone expect from a class?</h4>
      <p>In an Essentrics class, participants will experience a challenging, high energy, low impact workout in a supportive environment. Through dynamic full body movements set to great music, every muscle of the body will be stretched and strengthened.  You will feel pleasantly worked out and energized!</p>
      <h4>What do I need to bring to class?</h4>
      <p>Classes are done barefoot.  A yoga mat and water bottle are all you need!</p>
      <p>Further information about Essentrics: <a href="https://www.essentrics.com" target="_self">www.essentrics.com</a></p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="680" height="404" src="https://www.youtube.com/embed/TFYVfGJtT1A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="680" height="404" src="https://www.youtube.com/embed/hUOhCt48zkU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
