<div class="container-fluid">
  <h3>Schedule</h3>
  <div class="row">
    <div class="col-md-6">
      <hr>
      <h4>North  Branch Community Education</h4>
      <p>ESSENTRICS Tuesday/Thursday 6:15 pm Sunrise School</p>
      <p>Register online at <a href="https://northbranch.cr3.rschooltoday.com/public/home/" target="_blank">nbaceonline.org</a>
        or call 651-674-1025</p>
      <h4>Chisago County Senior Center, North Branch</h4>
      <p>Relax, Release and Restore</p>
      <p>Wednesday 10:30 am (begins 8/1)</p>
      <p>Call to register 651-674-8658</p>
      <p>Please <a href="/contact">Contact Me</a> for additional class requests</p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="https://cdn.simplesite.com/i/63/19/285697106127559011/i285697114396162062._szw480h1280_.jpg" alt="">
    </div>
  </div>
</div>