<app-carousel></app-carousel>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 text-center">
      <h2>Who we are</h2>
      <p>Essentrics™ is on a mission to re-establish the true meaning of fitness 
        and to help people experience what it feels like to be HEALTHY and HAPPY in their OWN bodies. 
      </p>
      <h2>What we are</h2>
      <p>
          Essentrics™ is a dynamic, full body workout suitable for all fitness levels. 
           This technique simultaneously combines stretching and strengthening while engaging all 650 muscles.  
          This class will increase flexibility and mobility for a healthy, toned, and pain free body.
      </p>
    </div>
    <div class="col-sm-2">
      <img class="img-fluid" src="https://cdn.simplesite.com/i/63/19/285697106127559011/i285697114396171099._szw480h1280_.jpg" alt="">
    </div>
  </div>
</div>