<div class="container-fluid">
  <h3>What people are saying</h3>
  <div class="row">
    <div class="col-md-6">
      <hr>
      <ul>
        <li>
            <p>
                "I really liked your class!!  Really loosened up my neck and shoulders.  Wish I didn't have to miss next week!!!"
                <br>  
                <span class="sub">-H.C.</span>
            </p>
        </li>
        <li>
          <p>
              "I feel great, not beaten up.  I want to do it as much as possible.  I feel like I got a chiropractic adjustment, but better!" 
              <br>
              <span class="sub">-D.D.</span>
          </p>
        </li>
        <li>
          <p>
              "I feel really good.  I feel like I did something but in a good way.  I loved it!  It felt good to move my body!  Thank you!"  
              <br>
              <span class="sub">-S.M.</span>
          </p>
        </li>
        <li>
          <p>
              "Love it! My back was killing me when I went to class tonight and by the time class was over it didn't hurt anymore. Still feels great!"  
              <br>
              <span class="sub">-H.C.</span>
          </p>
        </li>
        <li>
          <p>"After attending my first Essentrics class I felt great the rest of the day - it was amazing!  I also felt this wonderful glow all day. I have degenerated discs and a torn rotator cuff and I couldn't believe how loose I felt after class - and no rebound pain! I will definitely make an effort to get there on a more regular basis, and I am going to encourage a friend that has the same type of issues to come too.  Thanks Jackie!"  
           <br> 
            <span class="sub">-mds</span></p>
        </li>
        <li>
          <p>
              "I haven't felt this good in years after taking Essentrics for one month 2-3 times a week. I feel stronger, have more energy, but more importantly I feel less back pain due to a chronic condition. Thank you Jackie for being such an awesome instructor!" 
              <br>
              <span class="sub">-D.B.</span>
          </p>
        </li>
        <li>
          <p>
              "I just wanted to drop you a note to tell you how great I have been feeling after starting your Essentrics class.  Not only is the stretching making me more limber and toned, you know how to make the class fun for all no matter the fitness level.  Thanks again for a great class!" 
              <br>
              <span class="sub">-P.B.</span>
          </p>
        </li>
        <li>
          <p>
              "Such a great workout this morning!!! My day has been great my joints are so limber with no pain. This Essentrics has been a great blessing to me. Thank you Jackie." 
              <br>
              <span class="sub">-D.H.</span>
          </p>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <img  class="img-fluid"src="https://cdn.simplesite.com/i/63/19/285697106127559011/i285697114379079973._szw480h1280_.jpg" alt="">
    </div>
  </div>
</div>